<%= link_to 'â† Back to index', admin_species_index_path %>

<h2>Editing species <%= @species.name %></h2>

<% unless @species.complete? %>
<div class="message">
  <div class="error">This species is still incomplete. Check its Uid or its taxonomy</div>
</div>
<% end -%>

<div class="wide_container">

  <div class="left">

    <%= render 'form' %>

  </div>

  <div class="right">

    <%= render 'pictures' %>

  </div>

</div>
