<%= link_to 'Back to index', admin_species_index_path %>

<h1>New species</h1>

<div class="wide_container"> 

  <div class="left"> 

    <%= render 'form' %>

  </div>
  
</div>

<%= link_to 'Back to index', admin_species_index_path %>
