<div class="specie"> 
  <a href="#"><img src="images/home/penguin.png" alt="Gentoo Penguin" /></a> 
  <h4><%= link_to(species.name, species_path(species.id)) %></h4>
  <p class="heart"><span><img src="images/home/pink_heart.png" alt="heart"/><%= species.guides_count %></span></p> 
  <p class="taxa">Pygoscelis papua</p> 
</div> 
