<div class="long top_species"> 
  <ul class="breadcrumb"> 
    <li class="first">Animalia</li> 
    <li>Mollusca</li> 
    <li>Mollusca</li> 
    <li>Mollusca</li> 
    <li>Mollusca</li> 
  </ul> 
  <div class="left"> 
    <h2><%= @species.name %></h2> 
    <label>Description</label> 
    <p>White flesh in brown or black shell; inside of shell shiny dark bronze. Young shells may have weak radial ribs which disappear when older. Outer of shell often characteristically grooved by grazing of other Nacella individuals, and sometimes very eroded.</p> 
    <label>Distinguishing Characters</label> 
    <p>Nutella concinna is the only common shallow-water Antarctic limpet</p> 
    <% unless @current_guide.species.include?(@species) %>
      <%= link_to('Add your guide', choices_path(:type => 'Species', :id => @species.id), :method => :post, :class => 'add_guide') %>
    <% end %>
    <p class="times_added"><%= pluralize(@species.guides_count, 'time', 'times') %> added</p> 
  </div> 
  <div class="right"> 
    <div class="share_this"> 
      <p class="share">share this on</p><a class="share_twitter" href="#"></a><a class="share_facebook" href="#"></a> 
    </div> 
    <div class="map_landscape"> 
      <div class="map"></div> 
    </div> 
  </div><!-- .right -->
</div> <!-- .long top_species -->
  
<div class="long border"> 
  <div class="left species"> 
    <h3>Species information</h3> 
    <p class="subtitle">More information that maybe could be useful for you</p> 
    <label>Size</label> 
    <p>from 0 to 46.00</p> 
    <label>Feeding behavior</label> 
    <p>Herbivorous grazer on algae and diatoms.</p> 
    <label>Reproductive behavior</label> 
    <p>Broadcast spawning with pelagic larvae. Forms characteristic spawning stacks</p> 
  </div> 
  <div class="right species"> 
    <img class="arrow" src="images/species/gray_arrow.png" alt="" /> 
    <h3>Photos & Videos</h3> 
    <ul> 
      <li><img src="images/species/fake_species.png" alt="Specie image" /></li> 
      <li><img src="images/species/fake_species.png" alt="Specie image" /></li> 
      <li><img src="images/species/fake_species.png" alt="Specie image" /></li> 
      <li><img src="images/species/fake_species.png" alt="Specie image" /></li> 
    </ul> 
  </div> 
</div> <!-- .long border -->

<div class="long species"> 
  <div class="left species"> 
    <h3>Species distribution</h3> 
    <p class="subtitle">More distribution information not useful for you but it's awesome :D</p> 
    <label>Distribution info</label> 
    <p>Antarctic Peninsular and adjacent islands</p> 
    <label>Ecology</label> 
    <p>Nacella concinna is the largest Antarctic intertidal invertebrate and is very abundant, sometimes with up to 100 individuals per square metre. Individuals are very mobile and do not return to a home base. There are two populations of Nacella concinna, which can be distinguished by shell shape, however they do not appear to be genetically distinct, so are not considered to be two subspecies. The shells of individuals of the littoral population are robust and heavy to withstand predation and sea-ice scouring, while the sublittoral morph (living permanently below 4m) has a flatter, thin and lightweight shell. In winter the littoral population migrates downwards to avoid scouring by sea ice, and mixes with the sublittoral population, while in summer they are separate and form two distinct groups. Nacella concinna is well adapted to its nearshore coldwater environment, as in addition to seasonal migration it has the ability to surround itself in a cocoon of highly viscous mucus which enables it to withstand temperatures of -20oC for up to 2 hours, if trapped in ice.</p> 
    <label>Habitat</label> 
    <p>Mainly rocky surfaces.</p> 
  </div> 
  <div class="right species"> 
    <img class="arrow" src="images/species/gray_arrow.png" alt="" /> 
    <h3>Distribution map</h3> 
    <div class="map"> 
      <div id="map"></div> 
      <span class="shadow"></span> 
    </div> 
    <label class="right">Depth of the distribution</label> 
    <p>from 0 to 110 meters</p> 
  </div> 
</div><!-- .long species -->

<%= render 'guides/your_guide' %>
