<%= link_to 'Back to index', admin_landscapes_path %>

<h1>Editing landscape <%= @landscape.name %></h1>

<div class="wide_container"> 

  <div class="left"> 

    <%= render 'form' %>

  </div>
  
  <div class="right">
        
  </div>
  
</div>

<%= link_to 'Back to index', admin_landscapes_path %>
