<div class="images_gallery"> 
  
  <div id="slider"> 
    <img src="images/home/whale.jpg" alt="Whale" title="Orcus rupus"/> 
    <img src="images/home/antartic.png" alt="Antartic" title="Bonicus pruttus" /> 
    <img src="images/home/medusa.jpg" alt="Medusa" title="Miedutis tus pus" /> 
    <img src="images/home/pulpito.jpg" alt="Pulpito" title="Pulpitus" /> 
  </div><!-- #slider -->
  
  <h2>Meet incredible <a href="species.php">species</a>, find amazing <a href="landscapes.php">landscapes</a>,<br/> 
    and create your <a href="#">antartic field guide</a>.</h2> 
</div><!-- .images_gallery -->

<div class="left"> 
  <div class="information"> 
    <h3>Species that you can find in the antartic</h3> 
    <p class="subtitle">you can find more than <a href="species.php">1.312 species</a></p> 
    <div class="species_list"> 
      <ul class="published_afg"> 
        <li> 
          <div class="specie"> 
            <a href="#"><img src="images/home/penguin.png" alt="Gentoo Penguin" /></a> 
            <h4><a href="species.php">Gentoo Penguin</a></h4> 
            <p class="heart"><span><img src="images/home/pink_heart.png" alt="heart"/>11</span></p> 
            <p class="taxa">Pygoscelis papua</p> 
          </div> 
        </li> 
        <li> 
          <div class="specie"> 
            <a href="#"><img src="images/home/penguin.png" alt="Gentoo Penguin" /></a> 
            <h4><a href="species.php">Gentoo Penguin</a></h4> 
            <p class="heart"><span><img src="images/home/pink_heart.png" alt="heart"/>11</span></p> 
            <p class="taxa">Pygoscelis papua</p> 
          </div> 
        </li> 
        <li class="last"> 
          <div class="specie"> 
            <a href="#"><img src="images/home/penguin.png" alt="Gentoo Penguin" /></a> 
            <h4><a href="species.php">Gentoo Penguin</a></h4> 
            <p class="heart"><span><img src="images/home/pink_heart.png" alt="heart"/>11</span></p> 
            <p class="taxa">Pygoscelis papua</p> 
          </div> 
        </li> 
        <li> 
          <div class="specie"> 
            <a href="#"><img src="images/home/penguin.png" alt="Gentoo Penguin" /></a> 
            <h4><a href="species.php">Gentoo Penguin</a></h4> 
            <p class="heart zero"><span><img src="images/home/gray_heart.png" alt="heart"/>0</span></p> 
            <p class="taxa">Pygoscelis papua</p> 
          </div> 
        </li> 
        <li> 
          <div class="specie"> 
            <a href="#"><img src="images/home/penguin.png" alt="Gentoo Penguin" /></a> 
            <h4><a href="species.php">Gentoo Penguin</a></h4> 
            <p class="heart"><span><img src="images/home/pink_heart.png" alt="heart"/>11</span></p> 
            <p class="taxa">Pygoscelis papua</p> 
          </div> 
        </li> 
        <li class="last"> 
          <div class="specie"> 
            <a href="#"><img src="images/home/penguin.png" alt="Gentoo Penguin" /></a> 
            <h4><a href="species.php">Gentoo Penguin</a></h4> 
            <p class="heart"><span><img src="images/home/pink_heart.png" alt="heart"/>11</span></p> 
            <p class="taxa">Pygoscelis papua</p> 
          </div> 
        </li> 
      </ul> 
    </div> 
  </div> 
  <div class="bottom"> 
    <p>more than 1,663 species in our <a href="#">species list</a></p> 
  </div> 
  <div class="create"> 
    <h3>Some of the already created Antartic Field Guides</h3> 
    <p class="subtitle">create your AFG with species and landscapes, and enjoy your trip</p> 
    <ul class="published_afg"> 
      <li> 
        <div class="information_title"> 
          <h4><a href="guide.php">This is gonna be great. Antartic trip...</a></h4> 
          <p class="by">by Brunno Dannis</p> 
          <p class="heart"><span><img src="images/home/pink_heart.png" alt="heart"/>11</span></p> 
        </div> 
        <div class="stats"> 
          <p class="species_rank second_rank left">20 SPECIES</p> 
          <p class="landscapes_rank second_rank left">18 LANDSCAPES</p> 
        </div> 

      </li> 
      <li> 
        <div class="information_title"> 
          <h4><a href="guide.php">This is gonna be great. Antartic trip...</a></h4> 
          <p class="by">by Brunno Dannis</p> 
          <p class="heart"><span><img src="images/home/pink_heart.png" alt="heart"/>11</span></p> 
        </div> 
        <div class="stats"> 
          <p class="species_rank second_rank left">20 SPECIES</p> 
          <p class="landscapes_rank second_rank left">18 LANDSCAPES</p> 
        </div>            
      </li> 
      <li class="last"> 
        <div class="information_title"> 
          <h4><a href="guide.php">This is gonna be great. Antartic trip...</a></h4> 
          <p class="by">by Brunno Dannis</p> 
          <p class="heart zero"><span><img src="images/home/gray_heart.png" alt="heart"/>0</span></p> 
        </div> 
        <div class="stats"> 
          <p class="species_rank second_rank left">20 SPECIES</p> 
          <p class="landscapes_rank second_rank left">18 LANDSCAPES</p> 
        </div> 
      </li> 
    </ul> 
  </div> 
  <div class="bottom noborder"> 
    <p>browse our <a href="guides.php">guide catalog</a> created by the users</p> 
  </div> 
</div> 

<div class="right"> 
  <div class="latest_"> 
    <h3>Latest activity</h3> 
    <p class="subtitle">species, guides and landscapes added...</p> 
    <ul> 
      <li> 
        <div class="latest first"> 
          <div class="image"> 
            <img src="images/home/mini_avatar.png" alt="Gentoo Penguin" /> 
          </div> 
          <div class="data"> 
            <p>Someone has added the <a href="#">this amazing landscape</a> to a guide</p> 
            <p class="ago">2 hours before</p> 
          </div> 
        </div> 
      </li> 
      <li> 
        <div class="latest"> 
          <div class="image"> 
            <img src="images/home/mini_avatar.png" alt="Gentoo Penguin" /> 
          </div> 
          <div class="data"> 
            <p>Someone has added the <a href="#">this amazing landscape</a> to a guide</p> 
            <p class="ago">2 hours before</p> 
          </div> 
        </div> 
      </li> 
      <li> 
        <div class="latest"> 
          <div class="image"> 
            <img src="images/home/mini_avatar.png" alt="Gentoo Penguin" /> 
          </div> 
          <div class="data"> 
            <p>Someone has added the <a href="#">this amazing landscape</a> to a guide</p> 
            <p class="ago">2 hours before</p> 
          </div> 
        </div> 
      </li> 
      <li> 
        <div class="latest"> 
          <div class="image"> 
            <img src="images/home/mini_avatar.png" alt="Gentoo Penguin" /> 
          </div> 
          <div class="data"> 
            <p>Someone has added the <a href="#">this amazing landscape</a> to a guide</p> 
            <p class="ago">2 hours before</p> 
          </div> 
        </div> 
      </li> 
      <li> 
        <div class="latest"> 
          <div class="image"> 
            <img src="images/home/mini_avatar.png" alt="Gentoo Penguin" /> 
          </div> 
          <div class="data"> 
            <p>Someone has added the <a href="#">this amazing landscape</a> to a guide</p> 
            <p class="ago">2 hours before</p> 
          </div> 
        </div> 
      </li> 
      <li> 
        <div class="latest"> 
          <div class="image"> 
            <img src="images/home/mini_avatar.png" alt="Gentoo Penguin" /> 
          </div> 
          <div class="data"> 
            <p>Someone has added the <a href="#">this amazing landscape</a> to a guide</p> 
            <p class="ago">2 hours before</p> 
          </div> 
        </div> 
      </li> 
      <li> 
        <div class="latest"> 
          <div class="image"> 
            <img src="images/home/mini_avatar.png" alt="Gentoo Penguin" /> 
          </div> 
          <div class="data"> 
            <p>Someone has added the <a href="#">this amazing landscape</a> to a guide</p> 
            <p class="ago">2 hours before</p> 
          </div> 
        </div> 
      </li> 
    </ul> 
  </div> 
  <div class="bottom"> 
    <p>why this matters? <a href="#">create your guide</a></p> 
  </div> 
  <div class="blue"> 
    <img src="images/home/blue_arrow.png" alt="Blue Arrow" class="arrow"/> 
    <h4>Create your guide</h4> 
    <p class="subtitle">create your AFG when you want, it's free!</p> 
    <ul> 
      <li> 
        <div class="image"> 
          <img src="images/home/browse.png" alt="Browse"/> 
        </div> 
        <div class="data"> 
          <h5><a href="explore.php">Browse our site</a></h5> 
          <p>Explore our database of species, and landscapes</p> 
        </div> 
      </li> 
      <li> 
        <div class="image"> 
          <img src="images/home/add.png" alt="Add" /> 
        </div> 
        <div class="data"> 
          <h5><a href="#">Add to your guide</a></h5> 
          <p>You can add anything dragging or clicking the add button</p> 
        </div> 
      </li> 
      <li> 
        <div class="image"> 
          <img src="images/home/download.png" alt="Download" /> 
        </div> 
        <div class="data"> 
          <h5><a href="#">Download it</a></h5> 
          <p>Download it in PDF format and publish it if you want</p> 
        </div> 
      </li> 
    </ul> 
  </div> 
</div> 

<%= render 'guides/your_guide' %>