<div class="image">
  <img src="<%= entry.element.default_picture(:small) %>" alt="<%= entry.element.name %>" /> 
</div> 
<div class="data"> 
  <p>Someone has added the guide <%= link_to(entry.element.name, guide_path(entry.element)) %> to a guide</p> 
  <p class="ago"><%= time_ago_in_words(entry.created_at) %></p> 
</div> 
