<div class="image"> 
  <img src="images/home/mini_avatar.png" alt="Gentoo Penguin" /> 
</div> 
<div class="data"> 
  <p>Someone has added the species <%= link_to(activity.item.name, species_path(activity.item.id)) %> to a guide</p> 
  <p class="ago"><%= time_ago_in_words(activity.created_at) %></p> 
</div> 
