<div class="long"> 
  <div class="long_in"> 
    <h3>Your Atlantic Field Guide</h3> 
    <p class="subtitle">Here is were your species and landscapes will be added</p> 
    <ul id="sortable">
      <% @current_guide.entries.each do |entry| %>
      <li id="draggable" class="<%= entry_css_class(entry) %>"><p class="title" title="<%= entry.full_name %>"><%= entry.full_name.truncate(15) %></p></li> 
      <% end -%>
      <li class="dragg_here"><p>DRAGG SOMETHING HERE TO ADD IT</p></li>          
    </ul> 
  </div> 
  <div class="bottom"> 
    <% if @current_guide.entries.count > 5 %>
    <div class="left_side"> 
      <a href="#" class="left"></a> 
      <a href="#" class="right"></a> 
    </div> 
    <% end -%>
    <div class="right_side"> 
      <a href="<%= edit_guide_path %>" id="publish_and_download"></a> 
    </div> 
  </div>
</div><!-- .long -->