<div class="wide_container"> 
  
  <div class="header_guides"> 
    <img class="arrow" src="images/common/arrow_menu.png" alt=""/> 
    <div class="content"> 
        <p class="title">Most popular Antartic Field Guides</p> 
        <p class="by">choose one of this guides if you don't want to create yours from scratch</p> 
        <ul>
          <% Guide.highlighted.limit(4).each do |guide| %>
          <li><%= render guide %></li>
          <% end %>
        </ul> 
    </div> 
  </div> <!-- header_guide -->
  
  <div class="left"> 
    <div id="guides_left" class="create"> 
      <h3>Published Antartic Field Guides</h3> 
      <p class="subtitle"><b><%= pluralize(Guide.published.not_highlighted.count, 'AFG', 'AFGs') %> published</b></p> 
      <div id="guides">
        <%= render 'guides' %>
      </div>
    </div><!-- information -->     
  </div> 
  
  <div class="right"> 
    <div class="about_afg"> 
      <h3>Atlantic Field Guide?</h3> 
      <p class="subtitle">an explanation about what the AFGs are</p> 
      <h2>What does Antartic Field Guide means for us</h2> 
      <p class="about">An Atlantic Field Guide is a recopilation of Antartic species and antartic landscapes, made by yourself or by someone in the world, wich has as objective to give you useful information for your antartic trips, or only because you want to improve your knowledge</p> 
      
      <h2>Another paragraph</h2> 
      <p class="about">An Atlantic Field Guide is a recopilation of Antartic species and antartic landscapes, made by yourself or by someone in the world, wich has as objective to give you useful information for your antartic trips, or only because you want to improve your knowledge</p> 
      
      <h2>Another paragraph</h2> 
      <p class="about">An Atlantic Field Guide is a recopilation of Antartic species and antartic landscapes, made by yourself or by someone in the world, wich has as objective to give you useful information for your antartic trips, or only because you want to improve your knowledge</p> 
      
      <h2>Another paragraph</h2> 
      <p class="about last">An Atlantic Field Guide is a recopilation of Antartic species and antartic landscapes, made by yourself or by someone in the world, wich has as objective to give you useful information for your antartic trips, or only because you want to improve your knowledge</p> 
    </div> 
  </div> <!-- .right -->
  
  <%= render 'guides/your_guide' %>
  
</div><!-- .wide_container -->