<div class="outer_layout"> 
  <div class="explore_map"> 
    <img class="arrow" src="images/common/arrow_menu.png" alt=""/> 
    <h2>Explore the Antarctic and create your field guide</h2> 
    <p class="subtitle"><strong><%= Species.count %> species</strong> in our database</p> 
    <div class="map"> 
      <div id="map"></div> 
    </div> 
  </div> 
  
  <div class="taxonomy_browser_body"> 
    <div class="content"> 
      <div class="content_left"> 
        <p class="species_included">Taxonomic Browser</p> 
        <p class="number_species"><%= Species.count %> species in this database</p>        
      </div> 
      <div class="content_right"> 
        <a class="view_advanced_browser" href="#">view the <span>advanced taxon browser</span></a> 
      </div> 
      <div class="taxonomy_browser"></div> 
    </div> 
  </div> 
  
  <div class="most_popular_explore"> 
    <div class="content"> 
      <h3>Most popular Antartic Field Guides</h3> 
      <p class="subtitle">choose one of this guides if you don't want to create yours from scratch</p> 
      <ul> 
        <% @guides.each do |guide| %>
          <li><%= render guide %></li>
        <% end -%>
      </ul> 
    </div> 
  </div> 
  
  <%= render 'guides/your_guide' %>
</div>